@model A_Manager.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serial_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicle_identification_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicle_identification_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plate_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plate_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.door_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.door_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year_of_make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year_of_make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seats_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seats_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fuel_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fuel_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.body_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.body_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.front_photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.front_photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.back_photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.back_photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.right_photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.right_photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.left_photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.left_photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.purchase_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.purchase_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inspection_expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inspection_expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hajri_inspection_expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hajri_inspection_expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registration_license_expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registration_license_expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hajri_registration_license_expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hajri_registration_license_expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.has_gps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.has_gps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.has_fuel_chip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.has_fuel_chip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
